			<br>
			<div class="commentshow"> 

			<%=comment.content%>

			<br>
			<div class="commentauth">
			
			<small><i><%=comment.user.first_name%>
			<%=comment.user.last_name%></i></small>
			</div>
				</div>

